<%- include("../includes/head", { title: "Main page"}) %> 
<link rel="stylesheet" href="/styles/cart.css">
<script src="/scripts/cart-item-update.js" defer></script>
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <h1>Cart page</h1>
        <section class="cart">
          <section class="cart-list">
          <ul>
            <% for (const item of locals.cart.items) { %> 
              <li class="cart-item">
                <div id="img-div">
                  <img src="<%= item.product.imageUrl %>" alt="<%= item.name %>">
                </div>
                <div>
                  <h3><%= item.product.name %></h3>
                  <p><%= item.product.price %>$</p>
                </div>
                <div id="quantity-div">
                  <p class="block">Quantity</p>
                  <button class="confirm-btn small-btn minus" data-productid="<%= item.product.id %>" data-csrf="<%= locals.csrfToken %>">-</button>
                  <p class="quantity-value"><%= item.quantity %></p>
                  <button class="confirm-btn small-btn plus" data-productid="<%= item.product.id %>" data-csrf="<%= locals.csrfToken %>">+</button>
                </div>
                <div>
                  <h3>Total: <span class="total-item-price"><%= item.totalPrice %></span>$</h3>
                </div>
                <div>
                  <button class="confirm-btn another-btn small-btn delete" data-productid="<%= item.product.id %>" data-csrf="<%= locals.csrfToken %>">x</button>
                </div>
              </li>
              <% } %> 
          </ul>
          </section>
          <section class="cart-total">
            <h2>Total: <span id="total-price"><%= locals.cart.totalPrice %></span>$</h2>
            <% if (locals.isAuth) { %>
            <form action="/orders" method="post">
              <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
              <button class="confirm-btn">Buy</button>
            </form>
            <% } else { %>
            <p>You need to login first</p>
            <% } %> 
          </section>
        </section>
    </main>
  </body>
</html>
