<%- include("../includes/head", { title: "Main page"}) %> 
<link rel="stylesheet" href="/styles/cart.css">
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <h1>Cart page</h1>
        <section class="cart">
          <section class="cart-list">
          <ul>
            <% for (const item of locals.cart.items) { %> 
              <li class="cart-item">
                <div id="img-div">
                  <img src="<%= item.product.imageUrl %>" alt="<%= item.name %>">
                </div>
                <div>
                  <h3><%= item.product.name %></h3>
                  <p><%= item.product.price %>$</p>
                </div>
                <div id="quantity-div">
                  <p class="block">Quantity</p>
                  <button class="confirm-btn small-btn">-</button>
                  <p class="quantity-value" id="number-<%= item.product.id %>"><%= item.quantity %></p>
                  <button class="confirm-btn small-btn">+</button>
                </div>
                <div>
                  <h3>Total: <%= item.totalPrice %>$</h3>
                </div>
                <div>
                  <button class="confirm-btn another-btn small-btn">x</button>
                </div>
              </li>
              <% } %> 
          </ul>
          </section>
          <section class="cart-total">
            <h2>Total: <%= locals.cart.totalPrice %>$</h2>
            <button class="confirm-btn">Buy</button>
          </section>
        </section>
    </main>
  </body>
</html>
