<%- include("../includes/head", { title: "Detail page"}) %> 
<link rel="stylesheet" href="/styles/products.css">
</head>
  <body>
    <%- include("../includes/header") %>
    <main>
        <section class="detail">
            <div class="detail-img">
                <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
            </div>
            <div class="detail-description">
                <h1><%= product.name %></h1>
                <h2><%= product.price %>$</h2>
                <div>
                <hr>
                <p><%= product.description %></p>
                <hr>
              </div>
                <button class="confirm-btn">Add to cart</button>
            </div>
        </section>
    </main>
  </body> 
</html>
